{% extends 'layout.html' %}


{% block content %}
<div class="rov">
  <div class="col-md-6 mx-auto">
    <div class="card">
      <div class="card-header bg-primary text-white">register</div>
        <div class="card-body">
          <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
              <label for="username">username: </label>
              <input type="text" name="username" id="" class="form-control" required>
            </div>

            <div class="form-group">
              <label for="password">password: </label>
              <input type="password" name="password" id="" class="form-control" required>
            </div>

            <div class="form-group">
              <label for="email">email: </label>
              <input type="email" name="email" id="" class="form-control" required>
            </div>

            <div class="form-group">
              <label for="repassword">re-password </label>
              <input type="password" name="repassword" id="" class="form-control" required>
            </div>

            <button type="submit" class="btn btn-primary btn-block">buton</button>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
  